

@utility layout-container {
    @apply container mx-auto px-4
}

@utility layout-section {
    width: 100%;
    min-height: 100vh;
    padding: 30px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@utility icon-container {
    display: flex;
    align-items: center;
    gap: 20px;
}