@import "tailwindcss";
@import "./flex-utilities.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  /* 1. ОБЯЗАТЕЛЬНО ВОЗВРАЩАЕМ ЦВЕТА ИЗ FIGMA: */
  --color-brand-purple: #7772F1;
  --color-brand-purple-hover: #5b55e0;
  --utility-container: {
    @apply mx-auto px-4 w-full;
    max-width: 1230px;
  };

  --utility-primary-btn: {
    @apply inline-block text-center rounded-sm font-bold text-sm text-white
          px-10 py-3 
          bg-brand-purple hover:bg-brand-purple-hover
          transition-all duration-200 active:scale-[0.98] focus:outline-none;
  };

  --utility-secondary-btn: {
    @apply inline-block text-center rounded-sm font-bold text-sm text-white
          px-10 py-3 
          bg-transparent border border-white
          transition-all duration-200 focus:outline-none
          hover:text-brand-purple hover:border-brand-purple
          active:scale-[0.98];
  };
  --utility-outline-purple-btn: {
    @apply inline-block text-center rounded-sm font-bold text-sm 
          px-10 py-3 focus:outline-none
          bg-transparent border border-brand-purple text-brand-purple
          transition-all duration-200
        hover:bg-brand-purple hover:text-white
          active:scale-[0.98];
  };

}

@utility hero-pattern {
  background-image: url('../../public/images/hero-bg-vectors.svg');
  @apply bg-cover bg-center bg-no-repeat;
}
